# Build artifacts
/build/
/dist/
/target/

# Dependencies
/node_modules/
/vendor/

# IDE-specific files
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Log files
*.log

# Temporary files
*.tmp
*~

# Environment variables
.env